{% extends 'design/base.html'%}
{% load static %}
{% block content %} 

<!-- Spinner Start -->
{% include 'design/spinner.html'%}
<!-- Spinner End -->

<!-- navbar Start -->
{% include 'design/navbar.html'%}
<!-- navbar End --> 

<!-- Password reset Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Reset Password</h1>
        <div class="d-flex justify-content-center">
            <p>Hurray! Your password has been changed.</p>
            <a href="{% url 'loginview' %}">Click here to Login</a>      
        </div>  
    </div>
</div>
<!-- Password reset End -->

<!-- Footer Start -->
{% include 'design/footer.html'%}
<!-- Footer End -->

{% endblock %}
