{% extends 'design/base.html'%}
{% load static %}
{% block content %} 

<!-- Spinner Start -->
    {% include 'design/spinner.html'%}
<!-- Spinner End -->

<!-- navbar Start -->
    {% include 'design/login_navbar.html'%}
<!-- navbar End --> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarText">
        
        <span class="navbar-text" style="padding-left: 35%;">
            
         <h1>User Login Page</h1>
        </span>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
    <br><br>
    
    <div class="d-flex justify-content-center">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label }}: <br> {{ field }}</p>
            {% endfor %}
            <button type="submit">Login</button>
        </form>
    </div>
    <br><br>
</div>
    <div class="col-sm-6">
        <br><br><br><br>
        <p>Don't have an account? <a href="{% url 'user_app:user_register' %}">Signup here</a></p>
    
    
</div>
</div>
</div>


<!-- Footer Start -->
    {% include 'design/footer.html'%}
<!-- Footer End -->

{% endblock %}  
