{% extends 'navbar.html'%}
{% load static %}
{% block content %}  

<!-- Login Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Login</h1>
        <div class="container-sm">
            <form method="POST" action="{% url 'user_login' %}">
                {% csrf_token %} 

                <div >
                    <table>
                      <tbody>
                        <tr>
                          <td><strong>Register as</strong></td>
                          <td><input type="radio" name="register_type" id="user" value="user" checked></td>
                          <td>User</td>
                          <td><input type="radio" name="register_type" id="company" value="company"></td>
                          <td>Company</td>
                  
                        </tr>
                      </tbody>
                    </table>
                </div>
                 
                <div class="form-group pt-3">
                    <input type="text" class="form-control" name='email' value="" placeholder="Email" >
                </div>               
                <div class="form-group pt-3">
                    <input type="password" class="form-control" name="password" value="" placeholder="Password" >
                </div>
                <a class="ml-5 float-right" href="">Forgot password?</a>
                <br>
                <button type="submit" class="btn btn-primary py-2 px-4 ">Login</button>               
                <h6>don't have an account <a href="{% url 'user_registration' %}">create an account</a></h6>
                {% if messages %}
                {% for msg in messages%}
                <h5>{{ msg }}</h5>
                {% endfor%}
                {% endif %}
            </form>
        </div>  
    </div>
</div>
<!-- Login End -->

<!-- Footer Start -->
{% include 'footer.html'%}
<!-- Footer End -->

{% endblock %}  