{% extends 'design/base.html'%}
{% load static %}
{% block content %} 

<!-- Spinner Start -->
{% include 'design/spinner.html'%}
<!-- Spinner End -->

<div class="col-sm p-3 min-vh-100">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar Start -->
      {% include 'design/sidebar.html'%}
      <!-- Sidebar End -->
      <div class="col">
        <h1>Your Applied Jobs</h1>
        <div class="container">       
        <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col"></th> -->
              <th scope="col"></th>
              <th scope="col">job_name</th>
              <th scope="col">location</th>
              <th scope="col">date posted</th>
              <!-- <th scope="col">Apply</th> -->
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            <tr>
              <!-- <th scope="row">1</th> -->
              <td><img class="flex-shrink-0 img-fluid border rounded" src={{job.company.logo.url}} alt="" style="width: 80px; height: 80px;">
              </td>
              <td>{{job.job_name}}</td>
              <td>{{job.company.address}}</td>
              <td>{{job.posting_date}}</td>
              <!-- <td><a class="btn btn-primary" href="">Apply Now</a> -->
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>                   
  </div>
</div>

{% endblock %}  