{% extends 'design/base.html'%}
{% load static %}
{% block content %}  
  
     
    <!-- Spinner Start -->
    {% include 'design/spinner.html'%}
    <!-- Spinner End -->

        <!-- navbar Start -->
        {% include 'company_app/company_navbar.html'%}
        <!-- navbar End -->

        <!-- Carousel Start -->
        {% include 'design/carousel.html'%}
        <!-- Carousel End -->
<br><br>
<div class="container">
    <div class="row">
        <h1>Applied Candidates</h1>
    </div>
</div>


  
        
        <!-- Footer Start -->
        {% include 'design/footer.html'%}
        <!-- Footer End -->

       



{% endblock %}  