{% extends 'design/base.html'%}
{% load static %}
{% block content %} 

 <!-- Spinner Start -->
 {% include 'design/spinner.html'%}
 <!-- Spinner End -->

         <!-- navbar Start -->
         {% include 'company_app/company_navbar.html'%}
         <!-- navbar End -->


 <div class="col-sm p-3 min-vh-100">
    <div class="container-fluid">
        <div class="row">
    
 
 <div class="col">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarText">
        
        <span class="navbar-text" style="padding-left: 35%;">
            
          <h1>Hi <i style="color: red;">{{company_details.name}}</i> : Your Profile </h1>
        </span>
        <a href="{% url 'company_app:update_company_profile' %}" class="nav-item nav-link" style="padding-left: 15%;">edit profile</a>
      </div>
    </div>
  </nav>





    <section>
        <div class="container py-5">
          
      
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">



                  {% if company_details.logo %}
                  <img src={{company_details.logo.url}} alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                    {% else %}
                    <img src="" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                    {% endif %}

                  <!-- <img src={{company_details.image.url}} alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;"> -->
                  <h5 class="my-3">{{user.name}}</h5>
                  <p class="text-muted mb-1">{{comany_details.description}}</p>
                  <p class="text-muted mb-4">{{company_details.address}}</p>
                  <div class="d-flex justify-content-center mb-2">
                    <!-- <button type="button" class="btn btn-primary">Follow</button> -->
                    <!-- <button type="button" class="btn btn-outline-primary ms-1">Resume</button> -->
                  </div>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-globe fa-lg text-warning"></i>
                      <p class="mb-0">https://mdbootstrap.com</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                      <p class="mb-0">mdbootstrap</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                      <p class="mb-0">@mdbootstrap</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0">mdbootstrap</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0">mdbootstrap</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{company_details.name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.email}} </p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{company_details.phone_number}} </p>
                    </div>
                  </div>
                  <hr>
                  <!-- <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Gender</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"></p>
                    </div>
                  </div>
                  <hr> -->
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{company_details.address}} </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-4">
                
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>















</div> 
        
            
</div>
</div>

</div>
{% endblock %}  



<html>
    
    {{user.username}}<br>
    {{user.first_name}}<br>
    {{user.last_name}}<br>
    {{user_details.phone_number}}
  <br><br>
  23526bl646bmoal8495=-4-h$%%ndfg
</html>



