{% load static %}
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="text-center mb-5">Our Clients Say!!!</h1>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>We have found Jobrial very helpful in finding the right candidate for our organization... 
                    it saves time and energy of both the candidates as well as the recruiter.
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-1.jpg' %}" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Kapdec</h5>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Excellent platform with everything you 
                    need as a jobseeker.
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-2.jpg' %}" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Matt</h5>
                        <small>Project manager</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>Great website with lots of interesting vacancies.
                    Applying for jobs has never been easier.
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-3.jpg' %}" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Meredith</h5>
                        <small>Graphic designer</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>It gives me immense pleasure to express that TimesJobs has proved to be a great help 
                    for our recruitment team.
                </p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="{% static 'img/testimonial-4.jpg' %}" style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">Priyanka</h5>
                        <small>Devansh HR Consultancy </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>