{% extends 'design/base.html'%} 
{% load static %} 
{% block content %}

<!-- Spinner Start -->
{% include 'design/spinner.html'%}
<!-- Spinner End -->

<!-- navbar Start -->
{% include 'design/navbar.html'%}
<!-- navbar End -->

<!-- Carousel Start -->
{% include 'design/carousel.html'%}
<!-- Carousel End -->

<!-- Category Start -->
{% include 'category.html'%}
<!-- Category End -->

<!-- Jobs Start -->
{% include 'job_listing.html'%}
<!-- Jobs End -->

<!-- testimonial Start -->
{% include 'design/testimonial.html'%}
<!-- testimonial End -->

<!-- Footer Start -->
{% include 'design/footer.html'%}
<!-- Footer End -->

{% endblock %}