{% extends 'design/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm p-3 min-vh-100">
  <div class="container-fluid">
    <div class="row">

      <!-- Sidebar Start -->
      {% include 'design/sidebar.html'%}
      <!-- Sidebar End -->

      <div class="col"> 


<div class="container mt-5">


    {% if user.customer.membership == True %}
    <h4>Your subscription:</h4>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">name :{{ product.name }}</h5>
        <p class="card-text">
          description :{{ product.description }}<br>
          status: {{product.status}}
        </p>
      </div>
    </div>
      <br>


            {% if user.customer.cancel_at_period_end == True %}

                Your subscription is canceled<br>
                Your subscription will run to the end of your billing cycle.
                <br><br>
                <a href="{% url 'subscription:join' %}">Get new subscription</a>


            {% elif user.customer.status == 'active' %}
                <div class="container">
                    <a href="{% url 'subscription:pausesubscription' %}">Pause Subscription</a>
                </div>
                <br>
                <div class="container">
                    <a href="{% url 'subscription:updateplan' %}">Update Subscription</a>
                </div>
                <br>
                <br>
                <form action="{% url 'subscription:settings' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Cancel Membership?">
                </form>

            {% elif user.customer.status == 'pause' %}
            <div class="container">
                <a href="{% url 'subscription:resumesubscription' %}">Resume Subscription</a>
            </div>
            <br>
            <div class="container">
                <a href="{% url 'subscription:updateplan' %}">Update Subscription</a>
            </div>
            <br>
            <form action="{% url 'subscription:settings' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Cancel Membership?">
            </form>


            {% else %}

            <div class="container">
                <a href="{% url 'subscription:pausesubscription' %}">Pause Subscription</a>
            </div>
            <br>
            <div class="container">
                <a href="{% url 'subscription:resumesubscription' %}">Resume Subscription</a>
            </div>
            <br>
            <div class="container">
                <a href="{% url 'subscription:updateplan' %}">Update Subscription</a>
            </div>
            <br>
            <br>
            <form action="{% url 'subscription:settings' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Cancel Membership?">
            </form>

            {% endif %}
              </div>
    {% else %}
    get new one

  {% endif %}

</div>  
</div>                   
</div>
</div>




<!-- </div> -->

{% endblock %}
